@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**HEADER Y MENU DE NAVEGACION**/
header {
  background-color: rgb(6, 74, 110);
  position: fixed;
  height: 120px;
  align-items: center;
  width: 100%;
  display: flex;
}

.menucontainer {
  height: 200px;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f1animado {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: auto;
}
.f1animado img {
  width: 10%;
  position: relative;
  opacity: 0;
  animation: desplazamiento 10s linear infinite; /* Ajusta la duración según tu preferencia */
}
@keyframes desplazamiento {
  0% {
    left: -80%;
    opacity: 0;
  }
  1% {
    opacity: 10;
  }
  100% {
    left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
  }
}

.racing-logo {
  display: flex;
  width: 6rem;
}
.racing-logo img {
  width: 6rem;
}

.menu {
  margin-left: 25%;
  padding: 3rem;
}
.menu li:hover > ul {
  display: block;
}
.menu li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  text-align: start;
  padding: 0;
}
.menu li ul li a {
  color: rgba(255, 166, 0, 0.922);
}
.menu ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.menu a {
  font-family: Formula1-Bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 2%;
}
.menu a:hover {
  color: rgba(134, 141, 145, 0.912);
}

.search-cart {
  display: flex;
  align-items: center;
  width: auto;
  gap: 5%;
}

.buscar,
.carrito {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  cursor: pointer;
}

/**propiedad para cambiar de color el texto a la hora de pasar el cursos**/
.abrir-menu {
  display: none;
}

.cerrar-menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menu {
    opacity: 0;
    width: 150px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgb(6, 74, 110);
    gap: 2rem;
    top: 10px;
    right: 0;
    height: 400px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .menu li ul {
    position: relative;
    min-width: 100%;
    text-align: end;
    padding: 10px;
  }
  .menu li ul li a {
    color: rgba(218, 166, 9, 0.922);
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .menu a {
    font-size: 1rem;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10%;
  }
  .cerrar-menu {
    color: rgb(255, 255, 255);
    font-size: 3rem;
  }
  .search-cart {
    margin-left: 5%;
    width: 100%;
    gap: 3%;
  }
  @keyframes desplazamiento {
    0% {
      left: -80%;
      opacity: 0;
    }
    1% {
      opacity: 10;
      width: 15%;
    }
    100% {
      left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
      width: 15%;
    }
  }
}
@media only screen and (max-width: 600px) {
  @keyframes desplazamiento {
    0% {
      left: -80%;
      opacity: 0;
    }
    1% {
      opacity: 10;
      width: 25%;
    }
    100% {
      left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
      width: 25%;
    }
  }
}
.maininicio {
  background-color: rgb(255, 255, 255);
}

/**estilos seccion1**/
.video {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 130px;
}
.video video {
  width: 80%;
  pointer-events: none;
}

.bienvenidostxt {
  margin: auto;
  height: 100%;
  width: 70%;
  padding-bottom: 2%;
  padding-top: 2%;
}
.bienvenidostxt h1 {
  font-family: Formula1-Bold;
  font-size: 2rem;
  padding-bottom: 2%;
  text-align: center;
  color: rgb(6, 74, 110);
}
.bienvenidostxt p {
  text-align: center;
}

/**estilos seccion2**/
.contenedor-envios {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(152, 151, 151);
  padding-bottom: 5%;
}
.contenedor-envios h3 {
  color: rgb(255, 255, 255);
}
.contenedor-envios p {
  font-weight: bold;
}

.logoscompras {
  padding-top: 3%;
  text-align: center;
  flex: auto;
}
.logoscompras img {
  width: 5rem;
}

/**estilos seccion3**/
.productos-destacados {
  width: 100%;
  height: auto;
}
.productos-destacados h3 {
  font-family: Formula1-Bold;
  text-align: center;
  font-size: 2rem;
  color: rgb(6, 74, 110);
  margin-top: 15px;
  margin-bottom: 15px;
}

.conteinerdestacados {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  justify-content: center;
}

.p-destacado {
  width: 20%;
  padding: 10px;
}
.p-destacado img {
  width: 100%;
}
.p-destacado h4 {
  width: auto;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
}
.p-destacado p {
  font-size: 12px;
  width: auto;
}
.p-destacado .descripcion-producto {
  height: 22px;
  font-weight: bold;
}
.p-destacado .preciodestacado {
  font-weight: bold;
  color: rgb(255, 15, 15);
  text-decoration: line-through;
}
.p-destacado .poferta {
  color: rgb(0, 128, 0);
  font-weight: bolder;
  font-size: 13px;
}

.aniadiralcarrito {
  font-family: Formula1-Bold;
  font-size: 13px;
  height: 50px;
  width: 150px;
  background-color: rgb(6, 74, 110);
  color: #fff; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-weight: bold; /* Texto en negrita */
}
.aniadiralcarrito:hover {
  background-color: rgb(152, 151, 151);
}

.iratienda {
  display: flex;
  width: 95%;
  height: 55px;
  margin-bottom: 20px;
  justify-content: end;
}

@media only screen and (max-width: 900px) {
  .video video {
    width: 90%;
  }
  .bienvenidostxt {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .conteinerdestacados {
    display: flex;
    flex-wrap: wrap;
  }
  .p-destacado {
    width: 45%;
    padding: 10px;
  }
  .p-destacado img {
    width: 100%;
  }
  .p-destacado h4 {
    width: 100%;
    padding: 5px;
  }
  .p-destacado p {
    padding: 2px;
    font-size: 12px;
    width: 100%;
  }
  .p-destacado .precio {
    font-weight: bold;
  }
  .aniadiralcarrito {
    height: 50px;
    width: auto;
    margin-top: 0;
    padding: 5px;
  }
  .iratienda {
    width: 95%;
    text-align: end;
  }
}
@media only screen and (max-width: 600px) {
  .bienvenidostxt h1 {
    font-size: 1.4rem;
  }
  .bienvenidostxt p {
    font-size: 0.8rem;
  }
  .bienvenidostxt h4 {
    height: auto;
  }
  .productos-destacados h3 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .p-destacado h4 {
    font-size: 0.8rem;
  }
  .aniadiralcarrito {
    font-size: 0.7rem;
  }
}
/**estilos para el footer**/
footer {
  background-color: rgb(6, 74, 110);
  height: 200px;
  justify-content: center;
  align-items: center;
}

.containerfooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redes {
  display: flex;
  gap: 10%;
}

.instagram,
.whatsapp {
  color: rgb(152, 151, 151);
  font-size: 3rem;
}

.titulosfooter {
  color: rgb(255, 255, 255);
  padding-top: 20px;
  font-size: 14px;
}

.metodosdepago {
  display: inline-block;
  width: 270px;
  height: 120px;
}
.metodosdepago img {
  max-width: 80%;
}

.metodosdeenvio {
  height: 120px;
}
.metodosdeenvio img {
  max-width: 80%;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 0);
}

.derechos {
  color: #ffffff;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  footer {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    height: 420px;
  }
  .containerfooter {
    display: block;
  }
  .redes {
    display: flex;
    padding: 10px;
    height: auto;
    width: 50%;
  }
  .titulosfooter {
    padding: 10px;
    font-size: 15px;
    width: 250px;
  }
  .metodosdepago {
    padding: 10px;
    width: 90%;
    height: auto;
  }
  .metodosdepago img {
    display: inline-block;
    max-width: 100%;
  }
  .metodosdeenvio {
    max-width: 40%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .metodosdeenvio img {
    max-width: 100%;
  }
  .derechos {
    margin-top: 5%;
  }
}
/**estilos pagina de Productos**/
.migasdepan {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.titulosecciones {
  font-family: Formula1-Bold;
  background-color: rgb(152, 151, 151);
  padding: 3%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 2rem;
  padding-top: 150px;
}

.producto-tienda {
  height: 100%;
  width: 280px;
  padding: 10px;
}

.tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}
.tienda img {
  width: 100%;
}
.tienda h4 {
  font-size: 14px;
  width: 70%;
  height: 45px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}
.tienda p {
  font-size: 12px;
  height: 50px;
  width: 100%;
}

.precio {
  font-weight: bold;
  color: rgb(0, 128, 0);
  font-family: Formula1-Bold;
}

.tienda button {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 900px) {
  .producto-tienda {
    width: 30%;
  }
  .producto-tienda img {
    width: 100%;
  }
  .tienda {
    width: 100%;
    margin-bottom: 20px;
  }
  .tienda h4 {
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .tienda p {
    font-size: 12px;
    height: 70px;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .tienda button {
    margin-bottom: 0;
  }
  .producto-tienda .precio {
    margin-top: 5px;
    height: 25px;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .producto-tienda {
    width: 50%;
    padding: 2%;
  }
  .tienda img {
    width: 100%;
  }
  .tienda h4 {
    font-size: 14px;
    width: auto;
    height: auto;
  }
  .tienda p {
    font-size: 12px;
    height: auto;
    width: auto;
  }
}
.serviciostexto h4, .nosotrostexto h4 {
  font-family: Formula1-Bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
}

.seccionnosotros {
  height: 100%;
  display: flex;
  text-align: center;
}

.nosotrostexto {
  width: 100%;
  padding: 2rem;
}
.nosotrostexto h4 {
  color: rgb(6, 74, 110);
}

.imgnosotros {
  width: 80%;
  padding: 2rem;
}
.imgnosotros img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .seccionnosotros {
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
  }
  .nosotrostexto {
    width: 100%;
  }
  .nosotrostexto h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    color: rgb(6, 74, 110);
  }
  .imgnosotros {
    margin: auto;
  }
}
.serviciostexto h4, .nosotrostexto h4 {
  font-family: Formula1-Bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
}

/**estilos pagina Servicios**/
.seccionservicios {
  height: 100%;
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.serviciostexto {
  width: 100%;
}
.serviciostexto h4 {
  color: rgb(6, 74, 110);
}

.imgservicios {
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imgservicios img {
  width: 95%;
}

@media only screen and (max-width: 900px) {
  .seccionservicios {
    display: block;
    text-align: center;
    align-items: center;
  }
}
.nosotrostexto h4, .serviciostexto h4 {
  font-family: Formula1-Bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
}

.maintrabajos {
  height: 100%;
}

.contenedor-trabajos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; /* Espacio entre los trabajos*/
  text-align: center;
}

.trabajo-muestra {
  width: 300px;
  height: 400px;
}
.trabajo-muestra img {
  width: 100%;
}

/**estilos para pagina de Contacto**/
.containercontacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.containercontacto h4 {
  font-family: Formula1-Bold;
  font-size: 20px;
  width: 500px;
  color: rgb(6, 74, 110);
}
.containercontacto form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containercontacto form input {
  margin: 1%;
  width: 48%;
  height: 2rem;
}
.containercontacto form textarea {
  height: 15rem;
  width: 100%;
  padding: 5px;
}
.containercontacto form .enviarconsulta {
  background-color: rgb(6, 74, 110);
  color: #fff;
  height: 2rem;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  margin: 5px;
  width: 20rem;
}
.containercontacto form .enviarconsulta:hover {
  background-color: rgba(162, 162, 162, 0.912);
}

@media only screen and (max-width: 900px) {
  .containercontacto {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
  }
  .containercontacto h4 {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .containercontacto form {
    display: block;
    margin-bottom: 1rem;
  }
  .containercontacto form input {
    margin: 5px;
    width: 80%;
    height: 3rem;
    padding: 20px;
  }
  .containercontacto form textarea {
    width: 80%;
  }
  .containercontacto form .enviarconsulta {
    height: 3rem;
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .containercontacto h4 {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    padding: 1rem;
  }
}
@font-face {
  font-family: Formula1-Regular;
  src: url(../fuentes/Formula1-Regular.ttf);
}
@font-face {
  font-family: Formula1-Bold;
  src: url(../fuentes/Formula1-Bold.ttf);
}
body {
  font-family: Formula1-Regular;
}

/*# sourceMappingURL=styles.css.map */
