@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**HEADER Y MENU DE NAVEGACION**/
header {
  background-color: rgb(6, 74, 110);
  position: fixed;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
}

.menucontainer {
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.f1animado {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: auto;
}
.f1animado img {
  width: 10%;
  position: relative;
  opacity: 0;
  animation: desplazamiento 10s linear infinite; /* Ajusta la duración según tu preferencia */
}
@keyframes desplazamiento {
  0% {
    left: -80%;
    opacity: 0;
  }
  1% {
    opacity: 10;
  }
  100% {
    left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
  }
}

.racing-logo {
  display: flex;
  width: 6rem;
}
.racing-logo img {
  width: 6rem;
}

.menu {
  padding: 3rem;
}
.menu li:hover > ul {
  display: block;
}
.menu li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  text-align: start;
  padding: 0;
}
.menu li ul li a {
  color: rgba(255, 166, 0, 0.922);
}
.menu ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.menu a {
  font-family: Formula1-Bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 2%;
}
.menu a:hover {
  color: rgba(134, 141, 145, 0.912);
}

.carritomenu {
  margin-left: 70%;
  position: fixed;
  margin-bottom: 15px;
  display: flex;
  text-align: center;
}
.carritomenu .contador {
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 15px;
  width: 25px;
  height: 25px;
  margin-top: 22px;
}

.botoncarrito {
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 35px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.cart {
  text-align: center;
  position: fixed;
  top: 100%;
  display: block;
  background-color: #fefefe;
  border: 5px solid #ccc;
  padding: 10px;
  border-radius: 3px;
}
.cart h2 {
  font-size: 18px;
  color: rgb(24, 16, 16);
  font-weight: bold;
  border-bottom: #1c1010 2px solid;
  padding-bottom: 5px;
}
.cart ul {
  height: auto;
  width: auto;
  font-size: 14px;
}
.cart ul li {
  width: 350px;
  padding: 5px;
}
.cart p {
  margin-top: 45px;
  border-bottom: #1c1010 2px solid;
}

.show {
  display: block;
  width: 400px;
  position: absolute;
}
.show .contador {
  display: none;
}

.remove-item {
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
  width: 55px;
  font-size: 10px;
  color: rgb(255, 255, 255);
}

.clear-pagar {
  display: flex;
  width: auto;
}
.clear-pagar .pagar {
  background-color: rgb(17, 183, 17);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 5px;
  margin-left: 15%;
  width: 80px;
}
.clear-pagar .clear-cart {
  background-color: rgb(203, 8, 8);
  width: 120px;
  height: 30px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 20%;
}

.total {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

/**propiedad para cambiar de color el texto a la hora de pasar el cursos**/
.abrir-menu {
  display: none;
}

.cerrar-menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .menu {
    opacity: 0;
    width: 150px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: rgb(6, 74, 110);
    gap: 2rem;
    top: 10px;
    right: 0;
    height: 400px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .menu li ul {
    display: block;
    position: relative;
    min-width: 100%;
    text-align: center;
    padding-top: 15px;
  }
  .menu li ul li a {
    color: rgb(255, 255, 255);
  }
  .menu ul {
    flex-direction: column;
    align-items: center;
  }
  .menu a {
    font-size: 1rem;
  }
  .visible {
    opacity: 1;
    visibility: visible;
  }
  .abrir-menu,
  .cerrar-menu {
    display: block;
    position: fixed;
    margin-left: 70%;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10%;
  }
  .cerrar-menu {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    position: relative;
  }
  .carritomenu {
    margin-left: 60%;
    position: fixed;
  }
  .carritomenu .cart {
    height: 250px;
    width: 200px;
    top: 100%;
    right: 0;
    background-color: #1c1010;
    border: 1px solid #cba4a4;
    margin-top: 200px;
  }
  @keyframes desplazamiento {
    0% {
      left: -80%;
      opacity: 0;
    }
    1% {
      opacity: 10;
      width: 15%;
    }
    100% {
      left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
      width: 15%;
    }
  }
}
@media only screen and (max-width: 600px) {
  @keyframes desplazamiento {
    0% {
      left: -80%;
      opacity: 0;
    }
    1% {
      opacity: 10;
      width: 25%;
    }
    100% {
      left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
      width: 25%;
    }
  }
}
.maininicio {
  background-color: rgb(255, 255, 255);
}

/**estilos seccion1**/
.video {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 130px;
}
.video video {
  width: 80%;
  pointer-events: none;
}

.bienvenidostxt {
  margin: auto;
  height: 100%;
  width: 70%;
  padding-bottom: 2%;
  padding-top: 2%;
}
.bienvenidostxt h1 {
  font-family: Formula1-Bold;
  font-size: 2rem;
  padding-bottom: 2%;
  text-align: center;
  color: rgb(6, 74, 110);
}
.bienvenidostxt p {
  text-align: center;
}

/**estilos seccion2**/
.contenedor-envios {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(152, 151, 151);
  padding-bottom: 5%;
}
.contenedor-envios h3 {
  color: rgb(255, 255, 255);
}
.contenedor-envios p {
  font-weight: bold;
}

.logoscompras {
  padding-top: 3%;
  text-align: center;
  flex: auto;
}
.logoscompras img {
  width: 5rem;
}

/**estilos seccion3**/
.productos-destacados {
  width: 100%;
  height: auto;
}
.productos-destacados h3 {
  font-family: Formula1-Bold;
  text-align: center;
  font-size: 2rem;
  color: rgb(6, 74, 110);
  margin-top: 15px;
  margin-bottom: 15px;
}

.conteinerdestacados {
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
  justify-content: center;
}

.product {
  width: 20%;
  padding: 10px;
}
.product img {
  width: 100%;
}
.product h4 {
  width: auto;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  padding-top: 5px;
}
.product p {
  font-size: 12px;
  width: auto;
}
.product a {
  text-decoration: none;
}
.product .descripcion-producto {
  height: 22px;
}
.product .preciodestacado {
  font-weight: bold;
  color: rgb(255, 15, 15);
  text-decoration: line-through;
}
.product .price {
  color: rgb(0, 128, 0);
  font-weight: bolder;
  font-size: 13px;
}

.add-to-cart {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-family: Formula1-Bold;
  font-size: 13px;
  height: 50px;
  width: 150px;
  background-color: rgb(6, 74, 110);
  color: #ffffff; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  display: flex;
  justify-content: center;
  padding: 5px;
  align-items: center;
}
.add-to-cart:hover {
  background-color: rgb(152, 151, 151);
  transform: scale(1.1);
}
.add-to-cart a {
  text-decoration: none;
}

.whatsappbutton {
  color: rgb(9, 184, 9);
  margin: 10px;
  font-size: 25px;
}

.iratienda {
  display: flex;
  width: 95%;
  height: 55px;
  margin-bottom: 20px;
  justify-content: end;
}
.iratienda a {
  text-decoration: none;
}
.iratienda .tienda-button {
  background-color: rgb(6, 74, 110);
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

@media only screen and (max-width: 900px) {
  .video video {
    width: 90%;
  }
  .bienvenidostxt {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .conteinerdestacados {
    display: flex;
    flex-wrap: wrap;
  }
  .product {
    width: 45%;
    padding: 10px;
  }
  .product img {
    width: 100%;
  }
  .product h4 {
    width: 100%;
    padding: 5px;
  }
  .product p {
    padding: 2px;
    font-size: 12px;
    width: 100%;
  }
  .product .precio {
    font-weight: bold;
  }
  .aniadiralcarrito {
    height: 50px;
    width: auto;
    margin-top: 0;
    padding: 5px;
  }
  .iratienda {
    width: 95%;
    text-align: end;
  }
}
@media only screen and (max-width: 600px) {
  .bienvenidostxt h1 {
    font-size: 1.4rem;
  }
  .bienvenidostxt p {
    font-size: 0.8rem;
  }
  .bienvenidostxt h4 {
    height: auto;
  }
  .productos-destacados h3 {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  .p-destacado h4 {
    font-size: 0.8rem;
  }
  .aniadiralcarrito {
    font-size: 0.7rem;
  }
}
/**estilos para el footer**/
footer {
  background-color: rgb(6, 74, 110);
  height: 200px;
  justify-content: center;
  align-items: center;
}

.containerfooter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redes {
  display: flex;
  gap: 10%;
}

.instagram,
.whatsapp {
  color: rgb(152, 151, 151);
  font-size: 3rem;
}

.titulosfooter {
  color: rgb(255, 255, 255);
  padding-top: 20px;
  font-size: 14px;
}

.metodosdepago {
  display: inline-block;
  width: 270px;
  height: 120px;
}
.metodosdepago img {
  max-width: 80%;
}

.metodosdeenvio {
  height: 120px;
}
.metodosdeenvio img {
  max-width: 80%;
  padding: 2px;
  border-radius: 5px;
  background-color: rgb(255, 255, 0);
}

.derechos {
  color: #ffffff;
  padding: 10px;
  margin-top: 30px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  footer {
    height: 200px;
  }
}
@media only screen and (max-width: 600px) {
  footer {
    height: 420px;
  }
  .containerfooter {
    display: block;
  }
  .redes {
    display: flex;
    padding: 10px;
    height: auto;
    width: 50%;
  }
  .titulosfooter {
    padding: 10px;
    font-size: 15px;
    width: 250px;
  }
  .metodosdepago {
    padding: 10px;
    width: 90%;
    height: auto;
  }
  .metodosdepago img {
    display: inline-block;
    max-width: 100%;
  }
  .metodosdeenvio {
    max-width: 40%;
    margin-top: 10px;
    margin-left: 10px;
  }
  .metodosdeenvio img {
    max-width: 100%;
  }
  .derechos {
    margin-top: 5%;
  }
}
/**estilos pagina de Productos**/
.migasdepan {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.titulosecciones {
  font-family: Formula1-Bold;
  background: linear-gradient(90deg, rgb(83, 83, 83) 0%, rgb(144, 143, 143) 100%);
  padding: 3%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 2rem;
  padding-top: 150px;
}

.producto-tienda {
  height: 100%;
  width: 280px;
  padding: 10px;
}
.producto-tienda a {
  text-decoration: none;
}

.tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: auto;
}
.tienda img {
  width: 100%;
}
.tienda .titulo-producto {
  font-size: 14px;
  width: 70%;
  height: 45px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
}
.tienda .p-descripcion {
  margin-top: 5px;
  height: 30px;
  font-size: 12px;
}
.tienda .precio {
  font-weight: bold;
  color: rgb(0, 128, 0);
  font-family: Formula1-Bold;
  font-size: 12px;
  height: auto;
  width: auto;
  padding-top: 15px;
  padding-bottom: 10px;
}

.tienda button {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 900px) {
  .producto-tienda {
    width: 30%;
  }
  .producto-tienda img {
    width: 100%;
  }
  .tienda {
    width: 100%;
    margin-bottom: 20px;
  }
  .tienda .titulo-producto {
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .tienda .p-descripcion {
    font-size: 12px;
    height: auto;
    width: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .tienda .precio {
    height: 25px;
    width: 100%;
  }
  .tienda button {
    margin-top: 10px;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .producto-tienda {
    width: 50%;
    padding: 2%;
  }
  .tienda img {
    width: 100%;
  }
  .tienda .titulo-producto {
    font-size: 12px;
    width: auto;
    height: auto;
  }
  .tienda .p-descripcion {
    font-size: 12px;
    height: auto;
    width: auto;
  }
}
.serviciostexto h4, .nosotrostexto h4 {
  font-family: Formula1-Bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
}

.seccionnosotros {
  height: 100%;
  display: flex;
  text-align: center;
}

.nosotrostexto {
  width: 100%;
  padding: 2rem;
}
.nosotrostexto h4 {
  color: rgb(6, 74, 110);
}

.imgnosotros {
  width: 80%;
  padding: 2rem;
}
.imgnosotros img {
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .seccionnosotros {
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
  }
  .nosotrostexto {
    width: 100%;
  }
  .nosotrostexto h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    color: rgb(6, 74, 110);
  }
  .imgnosotros {
    margin: auto;
  }
}
.serviciostexto h4, .nosotrostexto h4 {
  font-family: Formula1-Bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
}

/**estilos pagina Servicios**/
.seccionservicios {
  height: 100%;
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.serviciostexto {
  width: 100%;
}
.serviciostexto h4 {
  color: rgb(6, 74, 110);
}

.imgservicios {
  justify-content: center;
  width: 100%;
  height: 100%;
}
.imgservicios img {
  width: 95%;
}

@media only screen and (max-width: 900px) {
  .seccionservicios {
    display: block;
    text-align: center;
    align-items: center;
  }
}
.nosotrostexto h4, .serviciostexto h4 {
  font-family: Formula1-Bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 20px;
}

.maintrabajos {
  height: 100%;
  margin-bottom: 50px;
}
.maintrabajos h2 {
  text-align: center;
  color: rgb(6, 74, 110);
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  font-weight: bold;
}

.contenedor-trabajos {
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  overflow: hidden;
}

.trabajo-muestra {
  width: 350px;
  height: 450px;
  margin-bottom: 60px;
  padding: 10px;
}
.trabajo-muestra img {
  height: 100%;
  object-fit: cover;
}
.trabajo-muestra p {
  font-size: 0.7rem;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .maintrabajos h2 {
    font-size: 1.4rem;
  }
  .contenedor-trabajos {
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  }
  p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .maintrabajos h2 {
    font-size: 1rem;
  }
  .contenedor-trabajos {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px; /* Espacio entre los trabajos*/
  }
  .trabajo-muestra {
    width: 250px;
    height: 350px;
  }
  .trabajo-muestra img {
    width: 100%;
  }
  .trabajo-muestra p {
    font-size: 0.8rem;
    height: auto;
  }
}
@keyframes animaciongradiente {
  from {
    background: linear-gradient(90deg, rgb(152, 151, 151) 0%, rgb(6, 74, 110) 100%);
  }
  50% {
    background: linear-gradient(90deg, rgb(6, 74, 110) 0%, rgb(152, 151, 151) 100%);
  }
  to {
    background: linear-gradient(90deg, rgb(152, 151, 151) 0%, rgb(6, 74, 110) 100%);
  }
}
/**estilos para pagina de Contacto**/
.containercontacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 20px;
}
.containercontacto h4 {
  font-family: Formula1-Bold;
  font-size: 20px;
  width: 500px;
  color: rgb(6, 74, 110);
}
.containercontacto form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containercontacto form input {
  margin: 1%;
  width: 48%;
  height: 2rem;
}
.containercontacto form textarea {
  height: 15rem;
  width: 100%;
  padding: 5px;
}
.containercontacto form .enviarconsulta {
  animation-name: animaciongradiente;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: #fff;
  height: 2rem;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  margin: 5px;
  width: 20rem;
}
.containercontacto form .enviarconsulta:hover {
  animation-iteration-count: 0;
  background-color: rgba(162, 162, 162, 0.912);
  transform: scale(1.1);
}

@media only screen and (max-width: 900px) {
  .containercontacto {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
  }
  .containercontacto h4 {
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .containercontacto form {
    display: block;
    margin-bottom: 1rem;
  }
  .containercontacto form input {
    margin: 5px;
    width: 80%;
    height: 3rem;
    padding: 20px;
  }
  .containercontacto form textarea {
    width: 80%;
  }
  .containercontacto form .enviarconsulta {
    height: 3rem;
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .containercontacto h4 {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    padding: 1rem;
  }
}
@font-face {
  font-family: Formula1-Regular;
  src: url(../fuentes/Formula1-Regular.ttf);
}
@font-face {
  font-family: Formula1-Bold;
  src: url(../fuentes/Formula1-Bold.ttf);
}
body {
  font-family: Formula1-Regular;
}

/*# sourceMappingURL=styles.css.map */
