* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/productos";
@import "./components/nosotros";
@import "./components/servicios";
@import "./components/trabajos";
@import "./components/contacto";


@font-face {
  font-family: Formula1-Regular;
  src: url(../fuentes/Formula1-Regular.ttf);
}

@font-face {
  font-family: Formula1-Bold;
  src: url(../fuentes/Formula1-Bold.ttf);
}

body {
  font-family: Formula1-Regular;
}

