* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./components/header";
@import "./components/main";
@import "./components/footer";

@font-face {
  font-family: Formula1-Regular;
  src: url(../fuentes/Formula1-Regular.ttf);
}

@font-face {
  font-family: Formula1-Bold;
  src: url(../fuentes/Formula1-Bold.ttf);
}

body {
  font-family: Formula1-Regular;
}





/**estilos pagina de Productos**/

.titulosecciones {
  font-family: Formula1-Bold;
  background-color: rgb(152, 151, 151);
  padding: 3%;
  font-size: 3rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 6rem;
  padding-top: 150px;
}

.producto-tienda {
  height: 100%;
  width: 280px;
  padding: 10px;
}

.tienda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  margin: auto;

  img {
    width: 100%;
  }

  h4 {
    font-size: 14px;
    width: 70%;
    height: 45px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  p {
    font-size: 12px;
    height: 50px;
    width: 100%;
  }
}

.precio {
  font-weight: 900;
  color: rgb(75, 75, 77);
  font-family: Formula1-Bold;
}

.tienda button {
  margin-bottom: 6rem;
}

/**estilos pagina Nosotros**/

.seccionnosotros {
  height: 100%;
  display: flex;
  text-align: center;
}

.nosotrostexto {
  width: 100%;
  padding: 2rem;

  h4 {
    font-family: Formula1-Bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    color: rgba(5, 68, 101, 0.912);
  }
}

.imgnosotros {
  width: 80%;
  padding: 2rem;
  img {
    width: 100%;
  }
}

/**estilos pagina Servicios**/

.seccionservicios {
  height: 100%;
  padding: 2rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.serviciostexto {
  width: 100%;

  h4 {
    font-family: Formula1-Bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 20px;
    color: rgba(5, 68, 101, 0.912);
  }
}

.imgservicios {
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    width: 95%;
  }
}

/**estilos para pagina de Contacto**/

.containercontacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 20px;

  h4 {
    font-family: Formula1-Bold;
    font-size: 20px;
    width: 500px;
    color: rgba(5, 68, 101, 0.912);
  }

  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    input {
      margin: 1%;
      width: 48%;
      height: 2rem;
    }

    textarea {
      height: 15rem;
      width: 100%;
      padding: 5px;
    }

    .enviarconsulta {
      background-color: rgb(5, 67, 101);
      color: #fff;
      height: 2rem;
      font-size: 15px;
      border: none;
      border-radius: 4px;
      margin: 5px;
      width: 20rem;
      &:hover {
        background-color: rgba(162, 162, 162, 0.912);
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .menu {
    opacity: 0;
    width: 200px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    background-color: rgb(5, 67, 101);
    gap: 2rem;
    top: 10px;
    right: 0;
    height: 350px;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    padding: 2rem;

    ul {
      flex-direction: column;
      align-items: end;
    }

    a {
      font-size: 1rem;
    }
  }

  .visible {
    opacity: 1;
    visibility: visible;
  }

  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    margin-right: 10%;
  }

  .cerrar-menu {
    color: rgb(255, 255, 255);
    font-size: 3rem;
  }

  .search-cart {
    margin-left: 5%;
    width: 100%;
    gap: 3%;
  }

  .video video {
    width: 90%;
  }

  .bienvenidostxt {
    width: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .conteinerdestacados {
    display: flex;
    flex-wrap: wrap;
  }

  .p-destacado {
    width: 45%;
    padding: 10px;

    img {
      width: 100%;
    }

    h4 {
      width: 100%;
      padding: 5px;
    }

    p {
      padding: 5px;
      font-size: 12px;
      width: 100%;
    }

    .precio {
      font-weight: bold;
    }
  }

  .aniadiralcarrito {
    height: 50px;
    width: auto;
    margin-top: 0;
    padding: 5px;
  }

  .iratienda {
    width: 95%;
    text-align: end;
  }

  footer {
    height: 200px;
  }

  .producto-tienda {
    width: 30%;

    img {
      width: 100%;
    }
  }

  .tienda {
    width: 100%;
    margin-bottom: 20px;

    h4 {
      font-size: 14px;
      width: 100%;
      height: 40px;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    p {
      font-size: 12px;
      height: 70px;
      width: 70%;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    button {
      margin-bottom: 0;
    }
  }

  .producto-tienda .precio {
    margin-top: 5px;
    height: 25px;
    width: 100%;
  }

  .seccionnosotros {
    height: 100%;
    display: block;
    text-align: center;
    align-items: center;
  }

  .nosotrostexto {
    width: 100%;

    h4 {
      margin-bottom: 2rem;
      margin-top: 2rem;
      font-size: 20px;
      color: rgba(5, 68, 101, 0.912);
    }
  }

  .imgnosotros {
    margin: auto;
  }

  .seccionservicios {
    display: block;
    text-align: center;
    align-items: center;
  }

  .containercontacto {
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    h4 {
      width: 100%;
      height: auto;
      font-size: 1.2rem;
      padding: 1rem;
    }

    form {
      display: block;
      margin-bottom: 1rem;
      input {
        margin: 5px;
        width: 80%;
        height: 3rem;
        padding: 20px;
      }
      textarea {
        width: 80%;
      }
      .enviarconsulta {
        height: 3rem;
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .bienvenidostxt h1 {
    font-size: 1.4rem;

    p {
      font-size: 0.8rem;
    }
    h4 {
      height: auto;
    }
  }

  .conteinerdestacados p {
    height: auto;
  }

  .productos-destacados h3 {
    font-size: 1.2rem;
    margin-top: 20px;
  }

  .aniadiralcarrito {
    font-size: 0.7rem;
  }

  footer {
    height: 420px;
  }

  .containerfooter {
    display: block;
  }

  .redes {
    display: flex;
    padding: 10px;
    height: auto;
    width: 50%;
  }

  .titulosfooter {
    padding: 10px;
    font-size: 15px;
  }

  .metodosdepago {
    padding: 10px;
    width: 90%;
    height: auto;

    img {
      display: inline-block;
      max-width: 100%;
    }
  }

  .metodosdeenvio {
    max-width: 40%;
    margin-top: 10px;
    margin-left: 10px;

    img {
      max-width: 100%;
    }
  }

  .derechos {
    margin-top: 5%;
  }

  .producto-tienda {
    width: 50%;
    padding: 2%;
  }

  .tienda {
    img {
      width: 100%;
    }

    h4 {
      font-size: 14px;
      width: auto;
      height: auto;
    }

    p {
      font-size: 12px;
      height: auto;
      width: auto;
    }
  }

  .containercontacto h4 {
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    padding: 1rem;
  }
}
