@import "../base/variables";

/**estilos para el footer**/
footer {
    background-color: $color-principal;
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  
  .containerfooter {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .redes {
    display: flex;
    gap: 10%;
  }
  
  .instagram,
  .whatsapp {
    color: $color-secundario;
    font-size: 3rem;
  }
  
  .titulosfooter {
    color: rgb(255, 255, 255);
    padding-top: 20px;
    font-size: 14px;
  }
  
  .metodosdepago {
    display: inline-block;
    width: 270px;
    height: 120px;
    img {
      max-width: 80%;
    }
  }
  
  .metodosdeenvio {
    height: 120px;
    
    img {
    max-width: 80%;
    padding: 2px;
    border-radius: 5px;
    background-color: rgb(255, 255, 0);
    }
  }
  
  .derechos {
    color: #ffffff;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
  }

  @media only screen and (max-width: 900px) {

    footer {
      height: 200px;
    }
  }

  @media only screen and (max-width: 600px) {
    footer {
      height: 420px;
    }
    .containerfooter {
      display: block;
    }
    .redes {
      display: flex;
      padding: 10px;
      height: auto;
      width: 50%;
    }
    .titulosfooter {
      padding: 10px;
      font-size: 15px;
      width: 250px;
    }
    .metodosdepago {
      padding: 10px;
      width: 90%;
      height: auto;
      img {
        display: inline-block;
      max-width: 100%;
    }
      }
    
    .metodosdeenvio {
      max-width: 40%;
      margin-top: 10px;
      margin-left: 10px;
      img {
        max-width: 100%;
      }
    }
    .derechos {
      margin-top: 5%;
    }
  }
  

  