@import "../base/variables";

/**HEADER Y MENU DE NAVEGACION**/
header {
    background-color:$color-principal;
    position: fixed;
    height: 120px;
    width: 100%;
    display:flex;
    align-items: center;

  }
  
  .menucontainer {
    height: 120px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  
  }

  .f1animado {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: auto;
    img {
      width: 10%;
      position: relative;
      opacity: 0;
      animation: desplazamiento 10s linear infinite; /* Ajusta la duración según tu preferencia */
      @keyframes desplazamiento {
        0% {
            left: -80%;
            opacity: 0;
        
        }
        1%{
            opacity: 10;
      
        }
        
        100% {
            left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
        }
      }
    }

  }
  
  .racing-logo {
    display: flex;
    width: 6rem;
    img {
      width: 6rem;
    }
  }
  
  .menu {
    padding: 3rem;

    li{
      &:hover > ul {
        display: block;
      }
      ul {
        display: none;
        position: absolute;
        min-width: 140px;
        text-align: start;

        padding: 0;
      li {
        a {
          color: rgba(255, 166, 0, 0.922);
          
        }
      }
      }
    }
  
    ul {
      display: flex;
      gap: 1rem;
      list-style-type: none;
    }
    a {
      font-family: Formula1-Bold;
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-size: 12px;
      font-weight: 600;
      padding: 2%;
      &:hover {
        color: rgba(134, 141, 145, 0.912);
      }
    }
  }

  .carritomenu{
  margin-left: 80%;
  position: fixed;
  margin-bottom: 15px;
  display: flex;
  text-align: center;
  .contador{
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    margin-top: 22px;
  }

  }

  .botoncarrito{
    display:flex;
    width: 50px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    cursor: pointer;
    border: none;
    background-color:transparent;
    
  }

  .cart {
    margin-top:0px;
    text-align: center;
    position: fixed;
    top:100%;
    display:block;
    background-color: #fefefe;
    border: 5px solid #ccc;
    padding: 10px;
    border-radius: 3px;
    h2{
      font-size: 18px;
      color: rgb(24, 16, 16);
      font-weight: bold;
      border-bottom: #1c1010 2px solid;
      padding-bottom: 5px;
    }
    ul{
      height: auto;
      width: auto;
      font-size: 14px;
      li{
        width: 350px;
        padding: 5px;
      }
    }
    p{
      margin-top: 45px;
      border-bottom: #1c1010 2px solid;
    }
  }

  .show{
    right:0;
    display: block;
    width: 400px;
    position: absolute;
    .contador{
      display: none;
    }
  }



  .remove-item {
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
    width: 55px;
    font-size: 10px;
    color: rgb(255, 255, 255);
  }

  .clear-pagar {
    display: flex;
    width: auto;
      .pagar{
        background-color: rgb(17, 183, 17);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        font-size: 12px;
        padding: 5px 5px;
        margin-left: 15%;
        width: 80px;
      }

      .clear-cart {
        background-color: rgb(203, 8, 8);
        width: 120px;
        height: 30px;
        font-size: 12px;
        color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 5px 5px;
        margin-left: 20%;
      }
  }



  .total{
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /**propiedad para cambiar de color el texto a la hora de pasar el cursos**/
  
  
  .abrir-menu {
    display: none;
  }
  
  .cerrar-menu {
    display: none;
  }


  @media only screen and (max-width: 900px) {
    .menucontainer {
      height: 120px;
      width:100%;
      display: flex;
      justify-content: flex-start;
      position:absolute;
    }
    .racing-logo {
      padding-left: 20px;
    }
    .menu {
      margin-top: 110px;
      opacity: 0;
      width: 200px;
      visibility: hidden;
      display: block;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color:$color-principal;
      gap: 2rem;
      top: 10px;
      right: 0;
      height: 900px;
      box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
      
      li{
        
        ul {
          display: block;
          position: relative;
          min-width: 100%;
          text-align: center;
          padding-top: 15px;
        li {
          a {
            color: rgb(255, 255, 255);
            
          }
        }
        }
      }
  
      ul {
        flex-direction: column;
        align-items: center;
      }
  
      a {
        font-size: 1rem;
      }
    }
  
    .visible {
      opacity: 1;
      visibility: visible;
    }
  
    .abrir-menu,
    .cerrar-menu {
      display: block;
      position: absolute;
      margin-left:98%;
      padding-left: 20px;
      color: #fefefe;
      border: 0;
      font-size: 2.5rem;
      background-color: transparent;
      cursor: pointer;
    }

  
    .cerrar-menu {
      color: rgb(255, 255, 255);
      font-size: 3rem;
      position: relative;
      margin: 0;
      padding-bottom: 50px;
    }

    .carritomenu{
      margin-left: 60%;
      margin-bottom:0;
      }

  .f1animado {
    img {
      @keyframes desplazamiento {
        0% {
            left: -80%;
            opacity: 0;
        }
        1%{
            opacity: 10;
            width: 15%;
        }
        
        100% {
            left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
            width: 15%;
        }
            }
    }

  }
  }

  
  @media only screen and (max-width: 600px) {
    .f1animado {
      img {
        @keyframes desplazamiento {
          0% {
              left: -80%;
              opacity: 0;
          }
          1%{
              opacity: 10;
              width: 25%;
          }
          
          100% {
              left: calc(140% - 100px); /* Ajusta la posición final según el tamaño de tu imagen */
              width: 25%;
          }
              }
      }
  }

  .abrir-menu {
    display: block;
    position: absolute;
    margin-left:80%;
    padding-left: 20px;
    color: #fefefe;
    border: 0;
    font-size: 2.5rem;
    background-color: transparent;
    cursor: pointer;
  }

  .carritomenu{
    position: fixed;
    margin-bottom: 15px;
    display: flex;
    text-align: center;

    }
  
    .botoncarrito{
      display:flex;
    }
  
    .cart {
      margin-top:0px;
      text-align: center;
      position: fixed;
      top:100%;
      display:block;
      ul{
        height: auto;
        width: auto;
        font-size: 10px;
        li{
          width: auto;
        }
      }
    }
  
    .show{
      margin-top: 25px;
      right:0;
      display: block;
      width: 280px;
      position: absolute;
      .contador{
        display: none;
      }
    }
  
  
  
    .remove-item {
      width: 45px;
      font-size: 8px;
    }
  
    .clear-pagar {
        .clear-cart {
          font-size: 10px;
        }
    }
  
  
  
    .total{
      font-size: 14px;
    }
  }