@import "../base/variables";
@import "../base/mixins";
/**estilos pagina de Productos**/

.migasdepan{
  width:100%;
  height: 100%;
  padding-left: 20px;
}

.titulosecciones {
    font-family: Formula1-Bold;
    background:linear-gradient(90deg, rgb(83, 83, 83) 0%, rgb(144, 143, 143) 100%);
    padding: 3%;
    font-size: 3rem;
    @include card (rgb(255, 255, 255), 2px 2px 2px rgb(0, 0, 0));
    margin-bottom: 2rem;
    padding-top: 150px;
  }
  
  .producto-tienda {
    height: 100%;
    width: 280px;
    padding: 10px;
  }
  
  .tienda {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: auto;
  
    img {
      width: 100%;
    }
  
    .titulo-producto {
      font-size: 14px;
      width: 70%;
      height: 45px;
      margin-bottom: 5px;
      margin-top: 5px;
      font-weight: bold;
    }

    .p-descripcion {
      height: 30px;
      margin-top: 5px;
      font-size: 12px;
    }
  
    .precio {
      font-weight: bold;
      color: rgb(0, 128, 0);
      font-family: Formula1-Bold;
      font-size: 12px;
      height: auto;
      width: auto;
      padding-top: 25px;
    }
  }
  
  
  .tienda button {
    margin-bottom: 6rem;
  }

  @media only screen and (max-width: 900px) {

    .producto-tienda {
      width: 30%;
  
      img {
        width: 100%;
      }
    }
  
    .tienda {
      width: 100%;
      margin-bottom: 20px;
  
      .titulo-producto {
        font-size: 14px;
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
        margin-top: 5px;
      }
  
      .p-descripcion {
        font-size: 12px;
        height: 70px;
        width: 70%;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .precio {
        height: 25px;
        width: 100%;
      }
  
      button {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  
  }  

  @media only screen and (max-width: 600px) {

    .producto-tienda {
      width: 50%;
      padding: 2%;
    }
  
    .tienda {
      img {
        width: 100%;
      }
  
      h4 {
        font-size: 14px;
        width: auto;
        height: auto;
      }
  
      p {
        font-size: 12px;
        height: auto;
        width: auto;
      }
    }
    }
  