@import "../base/variables";
@import "../base/extends";

.maintrabajos {
      height:100%;
      margin-bottom: 50px;
    h2 {
      text-align: center;
      color: $color-principal;
      margin-top: 30px;
      margin-bottom: 30px;
      width: auto;
      font-weight: bold;
    }
  }

  .contenedor-trabajos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    
    text-align: center;
    margin: auto;
    overflow: hidden;
  }

  .trabajo-muestra {
    width: 250px;
    height: 350px;
    margin-bottom: 60px;
    padding: 10px;
    img {
      height:100%;
      object-fit: cover;
    }

    p{
      font-size: 0.7rem;
      font-weight: 600;
    }

  }

  @media only screen and (max-width: 900px) {

    .maintrabajos {
      h2{
        font-size: 1.4rem;
      }
    }




    .contenedor-trabajos {
      grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    }
    p{
      font-size: 0.9rem;
    }
  
  }

  @media only screen and (max-width: 600px) {


    .maintrabajos {
      h2{
        font-size: 1rem;
      }
    }

    .contenedor-trabajos {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 5px; /* Espacio entre los trabajos*/
    }
  
    .trabajo-muestra {
      width: 150px;
      height: 250px;
      img {
        width:100% ;
      }

      p{
        font-size: 0.8rem;
        height: auto;
      }
  
    }
  }